{:rules
 {:task {:default {[:completed :any] {:shape :default}}
         :completed-100 {[:completed 100] {:element-fill-colour "#4CAF50" :element-outline-colour "#2E7D32" :element-font-colour "white"}}
         :high-progress {[:completed 80] {:element-fill-colour "#81C784"}}
         :low-progress {[:completed 20] {:element-fill-colour "#E57373"}}}
  :swimlane
  {:base-pool-header
   {[:type :pool]
    {:header {:fill-color [:pool-colors :mod-pool-idx]}}}
   :lane-header
   {[:type :lane]
    {:header {:fill-color [:pool-lane-dynamic :mod-lane-idx]}}}
   :lane-body
   {[:type :lane]
    {:fill-color [:pool-lane-dynamic :mod-lane-idx]}}
   :lane-task
   {[:lane-idx :any]
    {:task {:fill-color [:pool-lane-dynamic :mod-lane-idx]}}}
   :base-pool-task
   {[:pool-idx :any]
    {:task {:fill-color [:pool-colors :mod-pool-idx]}}}
   :default {[:pool-idx :any] {:header {:fill-color :default}}}}

  :layout
  {:default
   {[:any]
    {:ports {:in [:top :left] :out [:bottom :right]}
     :routing {:type :manhattan}}}

   :gateway
   {[:type :gateway]
    {:ports {:in [:top] :out [:left :right :bottom]}
     :shape :diamond
     :sizing {:fixed-ratio 1.0}}}

   :start-event
   {[:type :start]
    {:ports {:out [:bottom :right]}
     :shape :circle
     :sizing {:w 40 :h 40}}}

   :end-event
   {[:type :end]
    {:ports {:in [:top :left]}
     :shape :double-circle
     :sizing {:w 40 :h 40}}}}}}
