{:shapes
 {:task
  {:rect {:type :rect
          :width 20.0
          :height 15.0
          :fill :solid
          :corners :square}

   :round-rect {:type :round-rect
                :width 22.0
                :height 15.0
                :fill :solid
                :radius 6.0}

   :complete {:type :rect
              :width 20.0
              :height 15.0
              :fill :solid
              :border :dashed}

   :alert {:type :round-rect
           :width 22.0
           :height 15.0
           :fill :solid
           :radius 6.0
           :stroke :thick}}

  :gateway
  {:decision {:type :diamond
              :width 18.0
              :height 18.0
              :fill :solid}}

  :event
  {:start {:type :ellipse
           :width 16.0
           :height 16.0
           :fill :solid}

   :end {:type :ellipse
         :width 16.0
         :height 16.0
         :fill :solid
         :stroke :thick}}

  :sketch
  {:default {:type :rect
             :width 20.0
             :height 15.0
             :fill :none
             :stroke :thick
             :stroke-dasharray "5,5"
             :corners :square}
   :decision {:type :diamond
              :width 18.0
              :height 18.0
              :fill :none
              :stroke :thick}
   :start {:type :ellipse
           :width 16.0
           :height 16.0
           :fill :none
           :stroke :thick}}}}